In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [2]:
# Basic Analysis of the raw dataset

pandemic_df = pd.read_csv('dataset/raw_data.csv')
pandemic_df.head(10)

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
5,AFG,Afghanistan,2020-01-05,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
6,AFG,Afghanistan,2020-01-06,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
7,AFG,Afghanistan,2020-01-07,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
8,AFG,Afghanistan,2020-01-08,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
9,AFG,Afghanistan,2020-01-09,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [3]:
# number of rows and columns in the raw dataset
pandemic_df.shape

(50418, 14)

In [4]:
pandemic_df.dtypes

iso_code                    object
location                    object
date                        object
total_cases                float64
total_deaths               float64
stringency_index           float64
population                   int64
gdp_per_capita             float64
human_development_index    float64
Unnamed: 9                  object
Unnamed: 10                 object
Unnamed: 11                 object
Unnamed: 12                float64
Unnamed: 13                 object
dtype: object

In [5]:
# drop the last 5 columns of the dataset as they show some computed value which is not required for analysis
pandemic_df.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis = 1, inplace = True)
pandemic_df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.00,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.00,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.00,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.00,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.00,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055.0,231.0,76.85,14862927,1899.775,0.535
50414,ZWE,Zimbabwe,2020-10-16,8075.0,231.0,76.85,14862927,1899.775,0.535
50415,ZWE,Zimbabwe,2020-10-17,8099.0,231.0,76.85,14862927,1899.775,0.535
50416,ZWE,Zimbabwe,2020-10-18,8110.0,231.0,76.85,14862927,1899.775,0.535
50417,ZWE,Zimbabwe,2020-10-19,8147.0,231.0,76.85,14862927,1899.775,0.535

In [6]:
# checking if there is a null value in any of the rows of the dataset
pandemic_df.isnull().values.any()

True

In [7]:
# finding the number of null values in each column
pandemic_df.isnull().sum()

iso_code                       0
location                       0
date                           0
total_cases                 3094
total_deaths               11190
stringency_index            7126
population                     0
gdp_per_capita              5712
human_development_index     6202
dtype: int64

In [8]:
# print the rows which has null values
null_df = pandemic_df[pandemic_df.isna().any(axis=1)]
null_df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
280,AFG,Afghanistan,2020-10-06,39486.0,1467.0,NaN,38928341,1803.987,0.498
281,AFG,Afghanistan,2020-10-07,39548.0,1469.0,NaN,38928341,1803.987,0.498
282,AFG,Afghanistan,2020-10-08,39616.0,1470.0,NaN,38928341,1803.987,0.498
283,AFG,Afghanistan,2020-10-09,39693.0,1472.0,NaN,38928341,1803.987,0.498
284,AFG,Afghanistan,2020-10-10,39703.0,1473.0,NaN,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50203,ZMB,Zambia,2020-10-18,15789.0,346.0,NaN,18383956,3689.251,0.588
50204,ZMB,Zambia,2020-10-19,15853.0,346.0,NaN,18383956,3689.251,0.588
50205,ZWE,Zimbabwe,2020-03-21,1.0,NaN,27.78,14862927,1899.775,0.535
50206,ZWE,Zimbabwe,2020-03-22,2.0,NaN,27.78,14862927,1899.775,0.535
50207,ZWE,Zimbabwe,2020-03-23,2.0,NaN,45.37,14862927,1899.775,0.535

In [9]:
# column names of dataset
pandemic_df.columns

Index(['iso_code', 'location', 'date', 'total_cases', 'total_deaths',
       'stringency_index', 'population', 'gdp_per_capita',
       'human_development_index'],
      dtype='object')

In [10]:
# Data check for Brazil to fill in the stringency index as some values were missing in the original dataset
brazil_df = pandemic_df.loc[pandemic_df['location'] == 'Brazil'].head(40)
brazil_df['month'] = pd.to_datetime(pandemic_df['date']).dt.month
brazil_df.groupby(['location', 'month']).agg(
    {
        'total_cases': 'sum', 
        'total_deaths': 'sum', 
        'stringency_index': 'mean',
        'population': 'first',
        'gdp_per_capita': 'first',
        'human_development_index': 'mean',
    })

                total_cases  total_deaths  stringency_index  population  \
location month
Brazil   1              0.0           0.0          0.538065   212559409
         2              0.0           0.0          5.560000   212559409
         12             0.0           0.0               NaN   212559409

                gdp_per_capita  human_development_index
location month
Brazil   1           14103.452                    0.759
         2           14103.452                    0.759
         12          14103.452                    0.759

In [20]:
# convert the 'Date' column to datetime format
pandemic_df['date'] = pd.to_datetime(pandemic_df['date'])

In [21]:
# convert float64 to int64 for total_cases and total_deaths
pandemic_df['total_cases'] = pandemic_df['total_cases'].fillna(0)
pandemic_df['total_cases'] = pandemic_df['total_cases'].astype(np.int64)
pandemic_df['total_deaths'] = pandemic_df['total_deaths'].fillna(0)
pandemic_df['total_deaths'] = pandemic_df['total_deaths'].astype(np.int64)
pandemic_df['stringency_index'] = pandemic_df['stringency_index'].fillna(method='bfill')
pandemic_df.dtypes

iso_code                           object
location                           object
date                       datetime64[ns]
total_cases                         int64
total_deaths                        int64
stringency_index                  float64
population                          int64
gdp_per_capita                    float64
human_development_index           float64
dtype: object

In [22]:
df_inter = pandemic_df.interpolate()
df_inter
df_inter.to_csv('dataset/transformed_pandemic_data.csv')

In [14]:
# adding two more columns to the dataset

df_inter['month'] = df_inter['date'].dt.month
df_inter['year'] = df_inter['date'].dt.year

In [15]:
# df_final.describe
# df_noduplicates.groupby(["location","month"]).sum()
df_grouped = df_inter.groupby(['location', 'month'], as_index=False).agg(
    {
        'total_cases': 'sum', 
        'total_deaths': 'sum', 
        'stringency_index': 'mean',
        'population': 'first',
        'gdp_per_capita': 'first',
        'human_development_index': 'first',
    })
df_grouped

,location,month,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,Afghanistan,1,0,0,0.000000,38928341,1803.987,0.498
1,Afghanistan,2,5,0,2.010690,38928341,1803.987,0.498
2,Afghanistan,3,892,17,40.831935,38928341,1803.987,0.498
3,Afghanistan,4,24801,794,80.740000,38928341,1803.987,0.498
4,Afghanistan,5,212674,4814,84.260000,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...
1865,Zimbabwe,6,11693,141,72.715333,14862927,1899.775,0.535
1866,Zimbabwe,7,45546,663,76.583548,14862927,1899.775,0.535
1867,Zimbabwe,8,160139,4017,80.560000,14862927,1899.775,0.535
1868,Zimbabwe,9,222393,6593,78.457667,14862927,1899.775,0.535
1869,Zimbabwe,10,151557,4359,76.850000,14862927,1899.775,0.535

In [16]:
# drop the rows with 0 values for the columns : stringency_index, total_cases and total_deaths

# get names of indexes for which columns have value == 01

index_names = df_grouped[(df_grouped['stringency_index'] == 0) & (df_grouped['total_deaths'] == 0) & (df_grouped['total_cases'] == 0)].index
df_grouped.drop(index_names, inplace = True)

df_grouped

,location,month,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
1,Afghanistan,2,5,0,2.010690,38928341,1803.987,0.498
2,Afghanistan,3,892,17,40.831935,38928341,1803.987,0.498
3,Afghanistan,4,24801,794,80.740000,38928341,1803.987,0.498
4,Afghanistan,5,212674,4814,84.260000,38928341,1803.987,0.498
5,Afghanistan,6,734634,14418,80.182667,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...
1865,Zimbabwe,6,11693,141,72.715333,14862927,1899.775,0.535
1866,Zimbabwe,7,45546,663,76.583548,14862927,1899.775,0.535
1867,Zimbabwe,8,160139,4017,80.560000,14862927,1899.775,0.535
1868,Zimbabwe,9,222393,6593,78.457667,14862927,1899.775,0.535
1869,Zimbabwe,10,151557,4359,76.850000,14862927,1899.775,0.535

In [17]:
# the df_final dataset holds the desired data which can be used for further analysis

df_grouped.to_csv('scrubbed_pandemic_final.csv')

In [18]:
final_df = pd.read_csv('scrubbed_pandemic_final.csv')

# testing the final dataset with an example country "Brazil"
final_df[final_df['location'] == 'Brazil']

,Unnamed: 0,location,month,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
227,242,Brazil,1,0,0,0.538065,212559409,14103.452,0.759
228,243,Brazil,2,4,0,5.560000,212559409,14103.452,0.759
229,244,Brazil,3,31425,780,43.996452,212559409,14103.452,0.759
230,245,Brazil,4,958240,60304,75.001667,212559409,14103.452,0.759
231,246,Brazil,5,7500515,484650,80.541290,212559409,14103.452,0.759
232,247,Brazil,6,27275700,1323138,77.310000,212559409,14103.452,0.759
233,248,Brazil,7,61381421,2337595,79.974516,212559409,14103.452,0.759
234,249,Brazil,8,101658109,3316699,73.525484,212559409,14103.452,0.759
235,250,Brazil,9,131192119,3982675,72.564667,212559409,14103.452,0.759
236,251,Brazil,10,95706984,2834726,72.220000,212559409,14103.452,0.759