In [95]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [112]:
# Basic Analysis of the raw dataset

pandemic_df = pd.read_csv('dataset/raw_data.csv')
pandemic_df.head(10)
pandemic_df.dtypes

iso_code                    object
location                    object
date                        object
total_cases                float64
total_deaths               float64
stringency_index           float64
population                   int64
gdp_per_capita             float64
human_development_index    float64
Unnamed: 9                  object
Unnamed: 10                 object
Unnamed: 11                 object
Unnamed: 12                float64
Unnamed: 13                 object
dtype: object

In [113]:
# drop the last 5 columns of the dataset as they show some computed value which is not required for analysis
pandemic_df.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis = 1, inplace = True)
pandemic_df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.00,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.00,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.00,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.00,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.00,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055.0,231.0,76.85,14862927,1899.775,0.535
50414,ZWE,Zimbabwe,2020-10-16,8075.0,231.0,76.85,14862927,1899.775,0.535
50415,ZWE,Zimbabwe,2020-10-17,8099.0,231.0,76.85,14862927,1899.775,0.535
50416,ZWE,Zimbabwe,2020-10-18,8110.0,231.0,76.85,14862927,1899.775,0.535
50417,ZWE,Zimbabwe,2020-10-19,8147.0,231.0,76.85,14862927,1899.775,0.535

In [115]:
# checking if there is a null value in any of the rows of the dataset
pandemic_df.isnull().values.any()

# finding the number of null values in each column
pandemic_df.isnull().sum()

# print the rows which has null values
pandemic_df[pandemic_df.isna().any(axis=1)]

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
280,AFG,Afghanistan,2020-10-06,39486.0,1467.0,NaN,38928341,1803.987,0.498
281,AFG,Afghanistan,2020-10-07,39548.0,1469.0,NaN,38928341,1803.987,0.498
282,AFG,Afghanistan,2020-10-08,39616.0,1470.0,NaN,38928341,1803.987,0.498
283,AFG,Afghanistan,2020-10-09,39693.0,1472.0,NaN,38928341,1803.987,0.498
284,AFG,Afghanistan,2020-10-10,39703.0,1473.0,NaN,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50203,ZMB,Zambia,2020-10-18,15789.0,346.0,NaN,18383956,3689.251,0.588
50204,ZMB,Zambia,2020-10-19,15853.0,346.0,NaN,18383956,3689.251,0.588
50205,ZWE,Zimbabwe,2020-03-21,1.0,NaN,27.78,14862927,1899.775,0.535
50206,ZWE,Zimbabwe,2020-03-22,2.0,NaN,27.78,14862927,1899.775,0.535
50207,ZWE,Zimbabwe,2020-03-23,2.0,NaN,45.37,14862927,1899.775,0.535

In [99]:

# number of rows and columns in the raw dataset
pandemic_df.shape

# column names of dataset
pandemic_df.columns

# column names and datatypes of each col in the dataset
pandemic_df.dtypes

iso_code                    object
location                    object
date                        object
total_cases                float64
total_deaths               float64
stringency_index           float64
population                   int64
gdp_per_capita             float64
human_development_index    float64
dtype: object

In [118]:
# convert the 'Date' column to datetime format
pandemic_df['date'] = pd.to_datetime(pandemic_df['date'])

# convert float64 to int64 for total_cases and total_deaths
pandemic_df['total_cases'] = pandemic_df['total_cases'].fillna(0)
pandemic_df['total_cases'] = pandemic_df['total_cases'].astype(np.int64)
pandemic_df['total_deaths'] = pandemic_df['total_deaths'].fillna(0)
pandemic_df['total_deaths'] = pandemic_df['total_deaths'].astype(np.int64)
pandemic_df.dtypes

iso_code                           object
location                           object
date                       datetime64[ns]
total_cases                         int64
total_deaths                        int64
stringency_index                  float64
population                          int64
gdp_per_capita                    float64
human_development_index           float64
dtype: object

In [119]:
df_inter = pandemic_df.interpolate()
df_inter

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0,0,0.00,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0,0,0.00,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0,0,0.00,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0,0,0.00,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0,0,0.00,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055,231,76.85,14862927,1899.775,0.535
50414,ZWE,Zimbabwe,2020-10-16,8075,231,76.85,14862927,1899.775,0.535
50415,ZWE,Zimbabwe,2020-10-17,8099,231,76.85,14862927,1899.775,0.535
50416,ZWE,Zimbabwe,2020-10-18,8110,231,76.85,14862927,1899.775,0.535
50417,ZWE,Zimbabwe,2020-10-19,8147,231,76.85,14862927,1899.775,0.535

In [103]:
# drop the rows with null values in 'total_cases', 'total_deaths' and 'stringency_index' columns 
# and store the output into a new dataset

# df_noduplicates = df_inter.drop_duplicates(subset=['total_cases', 'total_deaths', 'stringency_index'], keep='first')
# df_noduplicates

In [120]:
df_inter['month'] = df_inter['date'].dt.month
df_inter['year'] = df_inter['date'].dt.year
# drop the rows of 2019 data
# df_inter.drop(df_inter.loc[df_inter['year']==2019].index, inplace=True)
df_inter

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,month,year
0,AFG,Afghanistan,2019-12-31,0,0,0.00,38928341,1803.987,0.498,12,2019
1,AFG,Afghanistan,2020-01-01,0,0,0.00,38928341,1803.987,0.498,1,2020
2,AFG,Afghanistan,2020-01-02,0,0,0.00,38928341,1803.987,0.498,1,2020
3,AFG,Afghanistan,2020-01-03,0,0,0.00,38928341,1803.987,0.498,1,2020
4,AFG,Afghanistan,2020-01-04,0,0,0.00,38928341,1803.987,0.498,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055,231,76.85,14862927,1899.775,0.535,10,2020
50414,ZWE,Zimbabwe,2020-10-16,8075,231,76.85,14862927,1899.775,0.535,10,2020
50415,ZWE,Zimbabwe,2020-10-17,8099,231,76.85,14862927,1899.775,0.535,10,2020
50416,ZWE,Zimbabwe,2020-10-18,8110,231,76.85,14862927,1899.775,0.535,10,2020
50417,ZWE,Zimbabwe,2020-10-19,8147,231,76.85,14862927,1899.775,0.535,10,2020

In [122]:
# df_final.describe
# df_noduplicates.groupby(["location","month"]).sum()
df_grouped = df_inter.groupby(['location', 'month']).agg(
    {
        'total_cases': 'sum', 
        'total_deaths': 'sum', 
        'stringency_index': 'first',
        'population': 'first',
        'gdp_per_capita': 'first',
        'human_development_index': 'first',
    })
df_grouped.head(50)

                   total_cases  total_deaths  stringency_index  population  \
location    month
Afghanistan 1                0             0              0.00    38928341
            2                5             0              0.00    38928341
            3              892            17             27.78    38928341
            4            24801           794             67.59    38928341
            5           212674          4814             84.26    38928341
            6           734634         14418             84.26    38928341
            7          1073946         33013             78.70    38928341
            8          1161878         41919             78.70    38928341
            9          1163186         42914             21.30    38928341
            10          754417         27986             28.70    38928341
            12               0             0              0.00    38928341
Albania     3             1996            78             36.11     2877800
            4            15102           714             84.26     2877800
            5            28509           973             89.81     2877800
            6            49447          1192             67.59     2877800
            7           116919          3207             64.81     2877800
            8           226041          6818             59.26     2877800
            9           346012         10184             54.63     2877800
            10          287925          7890             43.52     2877800
Algeria     1                0             0              0.00    43851043
            2                4             0              0.00    43851043
            3             4059           276              0.00    43851043
            4            66208          8767             86.57    43851043
            5           206006         16698             76.85    43851043
            6           333199         23335             76.85    43851043
            7           657799         32422             65.74    43851043
            8          1171031         42128             79.63    43851043
            9          1451254         48742             75.93    43851043
            10         1004439         34061             75.93    43851043
            12               0             0              2.72    43851043
Andorra     3             2428            24              0.00       77265
            4            18766           888             48.15       77265
            5            23482          1509             52.78       77265
            6            25420          1544             50.00       77265
            7            27096          1612             27.78       77265
            8            31133          1631             41.67       77265
            9            44356          1590             41.67       77265
            10           50895          1052             50.00       77265
Angola      3               35             4             11.11    32866268
            4              580            60             90.74    32866268
            5             1569            80             78.70    32866268
            6             4382           198             77.78    32866268
            7            18799           855             75.93    32866268
            8            56404          2523             79.17    32866268
            9           107519          4130             81.02    32866268
            10          114717          3970             75.00    32866268
Anguilla    3               10             0             71.30       15002
            4               88             0             74.07       15002
            5               93             0             61.11       15002
            6               90             0             37.96       15002

                   gdp_per_capita  human_development_index
location    month
Afghanistan 1         1803.987000                 0.498000
            2         1803.987000                 0.498000
            3         1803.987000                 0.498000
            4         1803.987000                 0.498000
            5         1803.987000                 0.498000
            6         1803.987000                 0.498000
            7         1803.987000                 0.498000
            8         1803.987000                 0.498000
            9         1803.987000                 0.498000
            10        1803.987000                 0.498000
            12        1803.987000                 0.498000
Albania     3        11803.431000                 0.785000
            4        11803.431000                 0.785000
            5        11803.431000                 0.785000
            6        11803.431000                 0.785000
            7        11803.431000                 0.785000
            8        11803.431000                 0.785000
            9        11803.431000                 0.785000
            10       11803.431000                 0.785000
Algeria     1        13913.839000                 0.754000
            2        13913.839000                 0.754000
            3        13913.839000                 0.754000
            4        13913.839000                 0.754000
            5        13913.839000                 0.754000
            6        13913.839000                 0.754000
            7        13913.839000                 0.754000
            8        13913.839000                 0.754000
            9        13913.839000                 0.754000
            10       13913.839000                 0.754000
            12       13913.839000                 0.754000
Andorra     3        13878.181097                 0.858000
            4        13022.391423                 0.858000
            5        11952.654330                 0.858000
            6        10847.259335                 0.858000
            7         9777.522242                 0.858000
            8         8672.127247                 0.858000
            9         7566.732251                 0.858000
            10        6496.995159                 0.858000
Angola      3         5819.495000                 0.581000
            4         5819.495000                 0.581000
            5         5819.495000                 0.581000
            6         5819.495000                 0.581000
            7         5819.495000                 0.581000
            8         5819.495000                 0.581000
            9         5819.495000                 0.581000
            10        5819.495000                 0.581000
Anguilla    3         5894.838500                 0.581957
            4         6271.556000                 0.586740
            5         8531.861000                 0.615442
            6        10867.509500                 0.645101

In [123]:
# the df_final dataset holds the desired data which can be used for further analysis

df_grouped.to_csv('scrubbed_pandemic_final.csv')

In [128]:
final_df = pd.read_csv('scrubbed_pandemic_final.csv')
final_df.head(30)

,location,month,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,Afghanistan,1,0,0,0.00,38928341,1803.987,0.498
1,Afghanistan,2,5,0,0.00,38928341,1803.987,0.498
2,Afghanistan,3,892,17,27.78,38928341,1803.987,0.498
3,Afghanistan,4,24801,794,67.59,38928341,1803.987,0.498
4,Afghanistan,5,212674,4814,84.26,38928341,1803.987,0.498
5,Afghanistan,6,734634,14418,84.26,38928341,1803.987,0.498
6,Afghanistan,7,1073946,33013,78.70,38928341,1803.987,0.498
7,Afghanistan,8,1161878,41919,78.70,38928341,1803.987,0.498
8,Afghanistan,9,1163186,42914,21.30,38928341,1803.987,0.498
9,Afghanistan,10,754417,27986,28.70,38928341,1803.987,0.498
10,Afghanistan,12,0,0,0.00,38928341,1803.987,0.498
11,Albania,3,1996,78,36.11,2877800,11803.431,0.785
12,Albania,4,15102,714,84.26,2877800,11803.431,0.785
13,Albania,5,28509,973,89.81,2877800,11803.431,0.785
14,Albania,6,49447,1192,67.59,2877800,11803.431,0.785
15,Albania,7,116919,3207,64.81,2877800,11803.431,0.785
16,Albania,8,226041,6818,59.26,2877800,11803.431,0.785
17,Albania,9,346012,10184,54.63,2877800,11803.431,0.785
18,Albania,10,287925,7890,43.52,2877800,11803.431,0.785
19,Algeria,1,0,0,0.00,43851043,13913.839,0.754
20,Algeria,2,4,0,0.00,43851043,13913.839,0.754
21,Algeria,3,4059,276,0.00,43851043,13913.839,0.754
22,Algeria,4,66208,8767,86.57,43851043,13913.839,0.754
23,Algeria,5,206006,16698,76.85,43851043,13913.839,0.754
24,Algeria,6,333199,23335,76.85,43851043,13913.839,0.754
25,Algeria,7,657799,32422,65.74,43851043,13913.839,0.754
26,Algeria,8,1171031,42128,79.63,43851043,13913.839,0.754
27,Algeria,9,1451254,48742,75.93,43851043,13913.839,0.754
28,Algeria,10,1004439,34061,75.93,43851043,13913.839,0.754
29,Algeria,12,0,0,2.72,43851043,13913.839,0.754